/* importing my fonts starts here */
@font-face {
    font-family: 'Source Sans Pro';
    src: url(fonts/SourceSansPro-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(fonts/SourceSansPro-Regular.otf);
    font-weight: 400;
}
/* importing my fonts ends here */

/* Adding my fonts and colors to CSS variables starts here */
:root {
    --btn-color: #FF6565;
    --polygon-color: #FF6565;
    --footer-bg-color: #071629;
    --font: 'Source Sans Pro', sans-serif;
    --font-color-white: #ffffff;
    --font-color-black: #000000;
    --font-bold: bold;
    --font-normal: normal;
}
/* Adding my fonts and colors to CSS variables ends here */

/* General Reset to my CSS starts here */

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

img, svg {
    display: block;
    max-width: 100%;
}

html, body {
    height: 100%;
    font-family: var(--font);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    background: none;
    cursor: pointer;
    padding: 0;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    width: 95%;
    border: 1px solid #000;
}

/* General Reset to my CSS ends here */

/* Styling of re-usable components starts here */
.btn {
    background: var(--btn-color);
    padding: 13px 31px;
    border-radius: 22px;
    color: var(--font-color-white);
    text-decoration: none;
    font-weight: 700;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.50);
    text-align: center;
}

.btn:hover {
    background-color: #000;
}
/* Styling of re-usable components ends here */

/* Header section styling starts here */

header {
    background: url(asset/headphones_hero_1.jpg) no-repeat center center/cover;
    height: 100vh;
}

/* Styling of navbar stars here */
.nav-hero-container {
    display: flex;
    flex-direction: column;
}

.nav-hero-container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px; 
}

.nav-hero-container nav .logo img {
    width: 180px;
    height: auto;
}

.nav-hero-container nav ul {
    display: flex;
    list-style-type: none;
    gap: 41px;
}

.nav-hero-container nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s;
    font-weight: bold;
    border-radius: 10px; 
}

.nav-hero-container nav ul li a:hover {
    background-color: var(--btn-color);
    color: #fff;
    font-weight: normal;
}

/* Styling of navbar ends here */

/* Styling of hero starts here */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--font-color-white);
    text-align: center;
    padding: 300px 30px 115px 30px;
}
.hero h1 {
    font-weight: var(--font-bold);
    font-size: 32px;
}

.hero .text-below {
    font-size: 16px;
    font-weight: 700;
}

.hero .btn {
    margin-top: 50px;
    margin-bottom: 100px;
}

.hero .text-content {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    width: 637px;
}
/* Header section styling ends here */

/* Styling of what we do section starts here */
.what-we-do-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
}
    
.what-we-do-section .top {
    padding: 120px 120px 82px 120px;
}

.what-we-do-section .bottom-row-wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
}

.what-we-do-section p {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.what-we-do-section .bottom-row-wrapper .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.what-we-do-section .bottom-row-wrapper .card-container svg {
    width: 60px;
    height: 60px;
}
 
/* Styling of what we do section ends here */

/* Styling of our result section starts here */
.our-result-section {
    display: flex;
    flex-direction: column;
    background: url(asset/headphones_hero_2.jpg) center center/cover;
    color: var(--font-color-white);
}

.our-result-section .top {
    padding: 221px 130px 30px 130px;
}

.our-result-section .top p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
} 

.our-result-section .bottom-row-wrapper {
    display: flex;
    gap: 40px;
}

.our-result-section .bottom-row-wrapper .polygon-container {
    background: url(asset/Polygon.svg) no-repeat center;
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 210px;
    justify-content: center; 
    align-items: center;
    text-align: center;
    padding: 0 40px;
    margin: 0 10px;

    .figure-text {
        font-size: 46px;
        font-weight: 700;
    }
    p {
        font-size: 16px;
        font-weight: 400;
    }
}

