/* importing my fonts starts here */
@font-face {
    font-family: 'Source Sans Pro';
    src: url(../../src/fonts/SourceSansPro-Bold.otf);
    font-weight: bold;
}


@font-face {
    font-family: 'Source Sans Pro';
    src: url(../../src/fonts/SourceSansPro-Regular.otf);
    font-weight: 400;
}
/* importing my fonts ends here */

/* Adding my fonts and colors to CSS variables starts here */
:root {
    --btn-color: #FF6565;
    --polygon-color: #FF6565;
    --footer-bg-color: #071629;
    --font: 'Source Sans Pro', sans-serif;
    --font-color-white: #ffffff;
    --font-color-black: #071629;
    --font-bold: bold;
    --font-normal: normal;
}
/* Adding my fonts and colors to CSS variables ends here */

/* General Reset to my CSS starts here */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img, svg {
    display: block;
    max-width: 100%;
    height: auto;
}

html, body {
    font-family: var(--font), sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    background: none;
    cursor: pointer;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
}

/* General Reset to my CSS ends here */

/* Styling of re-usable components starts here */
.btn {
    background: var(--btn-color);
    padding: 13px 31px;
    border-radius: 22px;
    color: var(--font-color-white);
    text-decoration: none;
    font-weight: 700;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.50);
    text-align: center;
    display: inline-block;
}

.btn:hover {
    background-color: #000;
}
/* Styling of re-usable components ends here */

/* Header section styling starts here */
header {
    background: url(../../src/asset/headphones_hero_1.jpg) no-repeat center center/cover;
    min-height: 100vh;
    color: #ffffff;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        width: 100%;
    }

    nav .logo {
        width: 12rem;
    }

    nav ul {
        display: flex;
        list-style-type: none;
        gap: 2rem;
    }

    nav ul li a {
        text-decoration: none;
        color: inherit;
        font-weight: 700;
        font-size: 0.9rem;
    }

    .hero {
        padding: 10rem 0 5rem;
        text-align: center;
    }

    .hero h1 {
        font-weight: 700;
        font-size: 3rem;
    }

    .hero .short-txt {
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 3rem;
    }

    .hero .bottom-txt {
        font-size: 1.18rem;
        font-weight: 400;
        line-height: 1.9;
    }

    .hero .btn-hero {
        margin-bottom: 3rem;
    }
}


/* Header Styles ends here */

/* What we do section styling starts here */

.what-we-do {
padding: 10rem 0 5rem;
border: 1px solid #000;

.top-txt {
    text-align: center;
    color: var(--font-color-black);
    padding: 0 10rem;
    margin-bottom: 5rem;
}

.row-card-wrapper {
    display: flex;
    gap: 2rem;
    justify-content: center;

    .card-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        font-size: 0.9rem;
        gap: 3.5rem;
    }

    .card-container svg {
        height: 4rem;
    }
}

}


/* Media Queries starts here */

@media (max-width: 768px) {
    .what-we-do .top-txt {
        padding: 0 4rem;
    }
}
/* What we do section styling ends here */
