
/* CSS reset rules */

html, body {
    height: 100%;
    min-height: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}


/* My own Styling */

header {
    display: flex;
    align-items: center;
    border: 1px solid #000;
    padding: 10px 20px;

    .logo-container {
        display: flex;
        gap: 10px;
        align-items: center;
    }
}

body, main {
    display: flex;
}

body {
    flex-direction: column;
}

main {
    flex-direction: row;
    flex: auto;
}

/* col1 aside styling starts here */

.col1-aside-wrapper {
    display: flex;
    flex: 2;
    padding: 10px 20px;
    border: 1px solid #000;
    flex-direction: column;

    .col1-aside-content {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    a {
        display: flex;
        gap: 15px;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }

    a:hover {
        background-color: rgba(255, 229, 236, 0.7);
        border-radius: 5px;
        color: red;
    }

}





.col2-aside-wrapper {
    border: 1px solid #000;
    overflow-y: auto;
    flex: 3;
}

.main-section-wrapper {
    border: 1px solid #000;
    overflow-y: auto;
    flex: 5;
}