/* Importing webfonts */

@import url(https://fonts.googleapis.com/css?family=Yeseva+One);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,700italic,400italic);

/* CSS reset rules */

html, body {
    height: 100%;
    min-height: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fonts and Colors */

body {
    font-family: 'Josefin Sans', serif;
    color: rgba(0, 0, 0, 0.8);
}

h1, h2, h3, h4, h5, h6, header {
	font-family: 'Yeseva One', sans-serif;
}

header {
    border-bottom: 1px solid rgb(221,221,221);
    transition: border-bottom-color 1s ease;
}

header a {
	color: rgba(0, 0, 0, 0.8);
}

aside {
    background: #fafafa;
}

footer a {
	color: rgba(0, 0, 0, 0.8);
}

/* Postioning and margins */

@media (min-width: 1100px) {
    body {
        width: 1100px;
        margin: 0 auto;
    }
}

article {
    padding: 50px 15px;
}



/* Personal styling starts here */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    
    .logo {
        font-size: 4.5em;
        font-weight: bold;
    }

    .navbar-container ul {
        display: flex;
        list-style-type: none;
    }

    .navbar-container ul li {
        margin: 0 10px;
    }

    .navbar-container ul li a {
        text-decoration: none;
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        transition: bacground-color 0.3s;
    }

    .navbar-container ul li a:hover {
        background-color: #575757;
    }
}

body, main {
    display: flex;
}

body {
    flex-direction: column;
}

main {
    flex-direction: row;
    flex: auto;
}

.table-parent-wrapper {
    flex: 2;
    overflow-y: auto;

    .learner-table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #000;
    }

    th, td {
        border: 1px solid #000;
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #f4f4f4;
    }
}

.aside-container {
    flex: 1;
    overflow-y: auto;
    border: 1px solid #000;
    margin: 20px;
    padding: 50px 15px;

    p {
        background-color: #575757;
        color: #fff;
        padding: 20px 20px;
        border-radius: 10px;
        margin: 10px auto;
    }
}